<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Reflections Wall</title>

The following message has been posted:
<br>
<br><b>First Name:</b> [FIRST_NAME]
<br><b>Last Name:</b> [LAST_NAME]
<br>
<br><b>Message:</b>
<br>[MESSAGE]
<br>
<br>Click <a href="[BASE_URL]admin/attendees/#end">here</a> to access the admin page or click <a href="[BASE_URL]admin/attendees/publish/[ID]">here</a> to approve the message.